[Desktop Entry]
Type=Application
Name=Bingr
Comment=A modern desktop IPTV and media player
Exec=bingr
Icon=io.github.vireshwali.Bing-r
Terminal=false
Categories=AudioVideo;Video;TV;Player;
Keywords=iptv;tv;stream;media;
StartupNotify=true